@model prjOniqueWebsite.Models.DTOs.FMemberDto
@{
    ViewData["Title"] = "會員資料";
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
    string display = "MemberInfo";
    if (!string.IsNullOrEmpty(ViewBag.Display))
    {
        display = ViewBag.Display;
    }
}

<div class="container row p-2 mx-auto border border-dark rounded-3 m-3">
    <div class="col-3  border rounded-3 p-2 color-FCFCFC">
        <div class="p-3">
            <div class="circle-size-150 mx-auto">
                <form name="formUploadPhoto">
                    @{
                        if (Model.PhotoPath != null)
                        {
                            //<img src="@Url.Content("~/images/uploads/members/")@Model.PhotoPath" alt="" class="circle-size-150 cover rounded-circle">
                            <div>
                                <div class="my-4 mx-auto btnUpload cursor-pointer" style="width:150px; height:150px">
                                    <img src="@Url.Content("~/images/uploads/members/")@Model.PhotoPath" data-filename="@Model.PhotoPath" id="imgMemberPhoto" class="circle-size-150 cover rounded-circle" />
                                </div>
                                <div class="width-400 mx-auto">
                                    <input type="file" class="form-control" style="visibility:hidden" id="inputUpload" name="Photo" />
                                </div>
                            </div>
                        }
                        else
                        {
                            //<img src="@Url.Content("~/images/uploads/members/default.jpg")" alt="" class="circle-size-150 cover rounded-circle">
                            <div>
                                <div class="my-4 mx-auto btnUpload cursor-pointer" style="width:150px; height:150px">
                                    <img src="@Url.Content("~/images/uploads/members/default.jpg")" id="imgMemberPhoto" class="circle-size-150 cover rounded-circle" />
                                </div>
                                <div class="width-400 mx-auto">
                                    <input type="file" class="form-control" style="visibility:hidden" id="inputUpload" name="Photo" />
                                </div>
                            </div>
                        }
                    }

                </form>
            </div>
            <div class="mt-3">
                <input type="hidden" name="MemberId" value="@Model.MemberId" />
                <input type="hidden" name="" value="@display" id="display" class="form-control">
            </div>
        </div>
        <div class="m-3 justify-content-center">
            <div class=" border-bottom align-items-center d-flex">
                <div class="btnOptions d-flex p-2 gap-3" id="info">
                    <img class="d-flex w-25-h-25" src="@Url.Content("~/images/memberphoto/user.png")" alt="">
                    個人資料
                </div>
            </div>
            <div class=" border-bottom align-items-center d-flex">
                <div class="btnOptions d-flex p-2 gap-3" id="order">
                    <img class="d-flex w-25-h-25" src="@Url.Content("~/images/memberphoto/myorder.png")" alt="">
                    訂單查詢
                </div>
            </div>
            <div class=" border-bottom align-items-center d-flex">
                <div class="btnOptions d-flex p-2 gap-3" id="myKeep">
                    <img class="d-flex w-25-h-25" src="@Url.Content("~/images/memberphoto/mykeep.png")" alt="">
                    我的收藏
                </div>
            </div>
            <div class=" border-bottom align-items-center d-flex">
                <div class="btnOptions d-flex p-2 gap-3" id="password">
                    <img class="d-flex w-25-h-25" src="@Url.Content("~/images/memberphoto/exchange.png")" alt="">
                    修改密碼
                </div>
            </div>
        </div>
    </div>
    <div class="col-9  p-2" id="divPartial">
    </div>
</div>
@section Styles{
    <style>
        a {
            color: inherit;
            color: black;
            text-decoration: none;
        }

        .btnOptions {
            margin: 15px 0;
            padding: 10px 30px;
            width: 300px;
            box-sizing: border-box;
            color: black;
            display: flex;
            align-items: center;
            gap: 20px;
            user-select: none;
            cursor: pointer;
            transition: all 0.5s;
        }

            .btnOptions:hover {
                color: blue;
                font-weight: bold;
                font-size: 18px;
            }
    </style>
}
@section Scripts{
    <script>
        let MemberId = 0;
        async function GetMemberFileName() {
            const response = await fetch(`@Url.Content("~/MemberApi/GetFMemberPhoto")`)
            const data = await response.json();

            let displayFileName = data.photoPath == null ? 'default.jpg' :  data.photoPath ;

            ReloadPhoto(displayFileName)
        }
        function ReloadPhoto(displayFileName) {

            let photoPath = `@Url.Content("~/images/uploads/members/")${displayFileName}`

            $("#imgMemberPhoto").attr("src", photoPath)
        }

        $('.btnUpload').on('click', function () {
            $('#inputUpload').trigger('click');
        })
        const photo = document.querySelector("#inputUpload");
        photo.addEventListener('change', async function () {
            const files = photo.files
            if (files.length == 0) {

                GetMemberFileName()
            }
            else {
                const formData = new FormData(document.formUploadPhoto);

                const response = await fetch('@Url.Content("~/MemberApi/UploadPhoto")', {
                    body: formData,
                    method: 'POST'
                });
                const datas = await response.json();
                if (datas.statusCode == 200) {
                    Swal.fire(
                        '更新成功!',
                        '您成功更新了照片!',
                        'success'
                    )
                    GetMemberFileName()
                }
            }
        })
        let pagesize = Number($("#searchpageSize").val())
        let pagenumber = Number($("#searchPagenumber").val())

        $(document).ready(function () {
            const display = $("#display").val();
            loadPage(display)
        })
        function loadPage(display) {
            $('#divPartial').load(`@Url.Content("~/fmember/")${display}`)
        }
        $('#info').click(function () {
            $('#divPartial').load('@Url.Content("~/fmember/MemberInfo")')
        })
        $('#order').click(function () {
            $('#divPartial').load('@Url.Content("~/fmember/MemberOrder")')
        })
        $('#myKeep').click(function () {
            $('#divPartial').load('@Url.Content("~/fmember/MemberMyKeep")')
        })
        $('#password').click(function () {
            $('#divPartial').load('@Url.Content("~/fmember/MemberPassword")')
        })

        $("#divPartial").on("click", ".btnEdit", function (event) {
            event.preventDefault()
            let id = $(this).data("id");
            $('#divPartial').load(`@Url.Content("~/fmember/MemberInfoEdit/")${id}`)
        })
        $("#divPartial").on("click", ".btnEditCancel", function (event) {
            event.preventDefault()
            $('#divPartial').load('@Url.Content("~/fmember/MemberInfo")')
        })
        $("#divPartial").on("click", ".btnPasswordCancel", function (event) {
            event.preventDefault()
            $('#divPartial').load('@Url.Content("~/fmember/MemberInfo")')
        })

    </script>
}
