@model prjOniqueWebsite.Models.DTOs.FMemberDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="post">
<div class="container">
    <div class="m-3 fs-3 fw-bold  border-bottom py-4 ">個人資料</div>
    <div class="p-2 ">
            <input type="hidden" name="MemberId" value="@Model.MemberId" />
        <div class="row justify-content-around p-3">
            <div class="pt-2 d-flex col-6 align-items-center">
                <div class=" width-90px text-end fw-bold">姓名 :</div>
                <div class="mx-2" >
                    @Model.Name
                </div>
            </div>
            <div class="pt-2 d-flex col-6 align-items-center">
                <div class=" width-90px text-end fw-bold">生日 :</div>
                <div class="mx-2">
                    @Model.DateOfBirth
                </div>
            </div>
        </div>
        <div class="row justify-content-around p-3">
                <div class="pt-2 d-flex col-6 align-items-center">
                    <div class=" width-90px text-end fw-bold">信箱 :</div>
                    <div class="mx-2">
                        @Model.Email
                    </div>
                </div>
            <div class="pt-2 d-flex col-6 align-items-center">
                <div class=" width-90px text-end fw-bold">電話 :</div>
                <div class="mx-2">
                    @Model.Phone
                </div>
            </div>
        </div>
        <div class="pt-2 d-flex col-6 align-items-center  p-3 mt-3">
            <div class=" width-90px text-end fw-bold">性別 :</div>
            <div class="mx-2">
                    @Model.Gender
            </div>
        </div>
        <div class="row justify-content-around p-3">
            <div class="col-12  mt-2 d-flex justify-content-start ">
                <div class=" width-90px text-end fw-bold">地址 :</div>
                <div class="mx-2">
                    @Model.Citys
                </div>
                <div class="mx-2">
                    @Model.Areas
                </div>
                <div class="mx-2">
                    @Model.Address
                </div>
            </div>
        </div>
    </div>
    <div class="justify-content-around p-5">
        <div class="text-center">
                <input type="submit" value="修改個人資料" class="btn btn-dark p-2 px-4 btnEdit"  data-id="@Model.MemberId">
        </div>
    </div>
    </div>
</form>
