@model prjOniqueWebsite.Models.EFModels.Members
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container ">
    <div class="m-3 fs-3 fw-bold  border-bottom py-4 ">商品收藏</div>
    <div class="mx-5">
        <div class="mx-auto d-flex flex-md-wrap " id="divCollectProduct">
            @*<div data-id="2042" class="cursor-pointer link-dark link-underline-opacity-0 border rounded shadow-sm m-2 divProductDetail aos-init aos-animate" data-aos="fade-up">
            <div class="w-240-h-240 m-2">
            <img src="/images/uploads/products/Vintage復古條紋夏威夷襯衫.jpg" class="rounded">
            </div>
            <div class="bg-dark rounded text-white m-2 text-center p-1 fw-bold">Vintage復古條紋夏威夷襯衫 </div>
            <div class="price text-center">580</div>
            <div class="d-flex gap-3 mx-2 mb-2 justify-content-end align-items-center">
            <div class="w-25-h-25 divShopping" data-productid="2042">
            <img src="/images/icon/shopping_black.png">
            </div>
            <div class="w-25-h-25 divCollection">
            <img src="/images/icon/love.png">
            </div>
            </div>
            </div>*@
        </div>
    </div>
</div>
<input type="hidden" value="@Model.MemberId" id="memberId" />
<script>
    loadCollect()
    
    async function loadCollect(){
         MemberId = $("#memberId").val()
        const response = await fetch(`@Url.Content("~/MemberApi/CollectProductList?memberId=")${MemberId}`)
        const datas = await response.json()
        //console.log(datas)
        const collectCard = datas.map(item=>{
            const { productId, productName, price, photoPath, discountMethod, discountPrice } = item
            //console.log(productId, productName, price, photoPath, discountMethod, discountPrice)
            if (discountMethod == null) {
                return (`<div data-id="${productId}" class="cursor-pointer link-dark link-underline-opacity-0 border rounded shadow-sm m-2 divProductDetail" data-aos="fade-up">
                                    <div class="w-240-h-240 m-2">
                                        <img src="@Url.Content("~/images/uploads/products/")${photoPath}" class="rounded" />
                                    </div>
                                    <div class="bg-dark rounded text-white m-2 text-center p-1 fw-bold">${productName} </div>
                                            <div class="price text-center">${price}</div>
                                    <div class="d-flex gap-3 mx-2 mb-2 justify-content-end align-items-center">
                                            <div class="w-25-h-25 divShopping" data-productid=${productId} >
                                            <img src="@Url.Content("~/images/icon/shopping_black.png")" />
                                        </div>
                                            <div class="w-25-h-25 divCollection"data-productid=${productId}>
                                            <img src="@Url.Content("~/images/icon/love.png")" />
                                        </div>
                                    </div>
                                </div>`)
            }
            else {
                return (`<div data-id="${productId}" class="cursor-pointer position-relative border rounded shadow-sm m-2 divProductDetail" data-aos="fade-up">
                                            <div class="w-240-h-240 m-2">
                                                <img src="@Url.Content("~/images/uploads/products/")${photoPath}" class="rounded" />
                                            </div>
                                            <div class="bg-dark rounded text-white m-2 text-center p-1 fw-bold">${productName}</div>
                                            <div class="text-center text-danger price">${discountPrice}</div>
                                            <div class="d-flex gap-3 mx-2 mb-2 align-items-center justify-content-end">
                                                    <div class="w-25-h-25 divShopping" data-productid="${productId}">
                                                    <img src="@Url.Content("~/images/icon/shopping_black.png")" />
                                                </div>
                                                    <div class="w-25-h-25 divCollection" data-productid="${productId}">
                                                    <img src="@Url.Content("~/images/icon/love.png")" />
                                                </div>
                                            </div>
                                                <div class="divShopping position-absolute top-0 start-0" data-productid="${productId}" style="width:50px;height:50px">
                                                <img src="@Url.Content("~/images/icon/sale-tag.png")" />
                                            </div>
                                        </div>`)
            }
        })
        
        $('#divCollectProduct').html(collectCard.join(""));
    }

    $('#divCollectProduct').on('click', '.divProductDetail', function (event) {
        let id = $(this).data("id")

        window.location.href = `@Url.Content("~/Product/Detail/")${id}`;
    })

    $('#divCollectProduct').on('click', '.divShopping', async function (event) {
        event.stopPropagation();

        const response = await fetch(`@Url.Content("~/HomeApi/IsLogin")`)
        const isLogin = await response.json();

        if (isLogin) {
            let productId = $(this).data("productid");

            const resp = await fetch(`@Url.Content("~/ProductApi/ShowProductInfo/")${productId}`);
            const data = await resp.json();

            if (data.apiResult.statusCode == 200) {
                const modalAddToCart = new bootstrap.Modal(document.getElementById('modalAddToCart'));

                $('#modalProductName').text(`${data.productName}`);
                $('#modalPrice').text(`${data.price}`);
                $('#modalPhoto').prop("src", `@Url.Content("~/images/uploads/products/")${data.photoPath}`);
                $('#modalSelectColor').data("productid", data.productId)
                $('#modalSelectSize').data("productid", data.productId)

                loadColor(productId)

                modalAddToCart.show()

            } else {
                Swal.fire({
                    title: data.apiResult.statusMessage,
                    icon: 'error',
                    showConfirmButton: false,
                    timer: 1500
                })
            }

        } else {
            Swal.fire({
                title: '尚未登入!',
                text: "如想使用購物車,請先登入!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3C3C3C',
                cancelButtonColor: '#D0D0D0',
                confirmButtonText: '進行登入',
                cancelButtonText: '稍後登入'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `@Url.Content("~/Home/Login")`
                }
            })
        }
    })

    $('#divCollectProduct').on('click', '.divCollection', async function (event) {
        event.stopPropagation();

        const response = await fetch(`@Url.Content("~/HomeApi/IsLogin")`)
        const isLogin = await response.json();

        if (isLogin) {
            let productId = $(this).data("productid");
            console.log(productId)
            const resp = await fetch(`@Url.Content("~/MemberApi/ToggleCollectProduct?productId=")${productId}`);
            const data = await resp.json();
            console.log(data)
            if (data.statusCode == 200) {
                Swal.fire({
                    title: data.statusMessage,
                    text: "",
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500,
                }).then(() => {
                    window.location.href = `@Url.Content("~/fmember/index?display=MemberMyKeep")`
                });
                
            }else{
                Swal.fire({
                    title: data.statusMessage,
                    text: "",
                    icon: 'warning',
                    showConfirmButton: false,
                    timer: 1500
                });
            }

        } else {
            Swal.fire({
                title: '尚未登入!',
                text: "如果想收藏商品,請先登入!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3C3C3C',
                cancelButtonColor: '#D0D0D0',
                confirmButtonText: '進行登入',
                cancelButtonText: '稍後登入'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `@Url.Content("~/Home/Login")`
                }
            })
        }
    })

    async function loadColor(productId) {
        const response = await fetch(`@Url.Content("~/productapi/GetStockColor/")${productId}`)
        const datas = await response.json();

        const colors = datas.map(color => {
            const { colorId, colorName } = color;
            return `<option value="${colorId}">${colorName}</option>`
        })

        $("#modalSelectColor").html(colors.join(""))

        loadSize(productId);
    }

    async function loadSize(productId) {
        const colorId = $("#modalSelectColor").val()
        const response = await fetch(`@Url.Content("~/productapi/GetStockSize?")id=${productId}&colorId=${colorId}`)

        const datas = await response.json();

        const sizes = datas.map(size => {
            const { sizeId, sizeName } = size
            return `<option value="${sizeId}">${sizeName}</option>`
        })

        $("#modalSelectSize").html(sizes.join(""))

        loadProductPhoto(productId)
    }

    $("#modalSelectColor").on('change', function () {
        let productId = $(this).data("productid")

        loadSize(productId)
    })

    $("#modalSelectSize").on('change', function () {
        let productId = $(this).data("productid")

        loadProductPhoto(productId)
    })

    async function loadProductPhoto(productId) {
        const colorId = $("#modalSelectColor").val()
        const sizeId = $("#modalSelectSize").val()

        const response = await fetch(`@Url.Content("~/ProductApi/GetStockDetail?")productId=${productId}&colorId=${colorId}&sizeId=${sizeId}`)
        const data = await response.json()

        const { photoPath, stockId, quantity } = data

        $("#modalPhoto").attr("src", `@Url.Content("~/images/uploads/products/")${photoPath}`)
        $("#modalBtnAddToCart").data("stockid", stockId)
    }

    $('#modalBtnAddToCart').on('click', function () {

        let stockId = $("#modalBtnAddToCart").data("stockid");
        let qty = $("#modalOrderQty").val();

        AddToCart(stockId, qty)
    })
</script>

<style>
    .price:before {
        content: "$  "
    }

    .divNotFound {
        position: fixed;
        top: 50%;
        transform: translate(-45%,-30%);
        left: 50%;
    }

    .w-240-h-240:hover {
        width: 245px;
        height: 245px;
        transition: all 0.4s;
    }

    .divDiscountImg {
        height: 400px;
        width: 100%;
        padding: 10px;
    }

    .modal-content {
        width: 750px;
        position: fixed;
        top: 50%;
        transform: translate(-50%,-55%);
        left: 50%;
    }
</style>