@model prjOniqueWebsite.Models.ViewModels.FMemberEditVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="post" action="MemberInfoEdit" name="EditForm">
    <div class="container ">
        <input type="hidden" class="form-control" name="MemberId" value="@Model.MemberId" />
        <div class="m-3 fs-3 fw-bold  border-bottom py-4 ">修改個人資料</div>
        <div class="p-2 ">
            <div class="row justify-content-around  p-3 ">
                <div class="pt-2 d-flex col-6 align-items-center">
                    <div class=" width-90px text-end fw-bold">姓名</div>
                    <div class="mx-2">
                        <input type="text" class="form-control" name="Name" value="@Model.Name" />
                    </div>
                </div>
                <div class="pt-2 d-flex col-6 align-items-center">
                    <div class=" width-90px text-end fw-bold">生日</div>
                    <div class="mx-2">
                        <div class="mx-2" name="DateOfBirth" id="DateOfBirth">@Model.DateOfBirth</div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around p-3">
                <div class="pt-2 d-flex col-6 align-items-center">
                    <div class=" width-90px text-end fw-bold">信箱</div>
                    <div class="mx-2">
                        <input type="text" class="form-control" name="Email" value="@Model.Email">
                    </div>
                </div>
                <div class="pt-2 d-flex col-6 align-items-center">
                    <div class=" width-90px text-end fw-bold">電話</div>
                    <div class="mx-2">
                        <input type="text" class="form-control" name="Phone" value="@Model.Phone">
                    </div>
                </div>
            </div>
            <div class="pt-2 d-flex col-6 align-items-center p-3 mt-2">
                <div class=" width-90px text-end fw-bold">性別</div>
                <div class="mx-3">
                    <div>
                        @Model.Gender
                    </div>
                </div>
            </div>
            <div class="row justify-content-around p-3">
                <div class="col-12  mt-2 d-flex justify-content-start ">
                    <div class=" width-90px text-end fw-bold">地址</div>
                    <div class="mx-3">
                        <input type="hidden" value="@Model.Citys" id="memberCity" />
                        <select class="form-select" name="Citys" id="city">
                            @*<option selected>-請選擇縣市-</option>
                            <option value="1">台北市</option>
                            <option value="2">新北市</option>
                            <option value="3">桃園市</option>*@
                        </select>
                    </div>
                    <div class="mx-3">
                        <input type="hidden" value="@Model.Areas" id="memberArea" />
                        <select class="form-select" name="Areas" id="area">
                            @* <option selected>-請選擇地區-</option>
                            <option value="1">大安區</option>
                            <option value="2">中山區</option>
                            <option value="3">中正區</option>*@
                        </select>
                    </div>
                    <div class="mx-3 ">
                        <input type="text" class="form-control" name="Address" value="@Model.Address">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-around p-5">
            <div class="text-center">
                <input type="submit" value="確定修改" class="btnEditConfirm btn btn-dark p-2 px-4 btnSubmit">
                <input type="button" value="取消" class="btnEditCancel btn btn-light p-2 px-4 ">
            </div>
        </div>
    </div>
</form>
<script>
    loadCity()
    async function loadMemberLevel() {
        const response = await fetch(`@Url.Content("~/memberapi/LoadMemberLevel")`)
        const datas = await response.json();
        const memberLevel = $("#memberLevel").val()
        let memberLevelOptions = ""
        //console.log(datas)
        datas.map(item => {
            const { memberLevelId, memberLevelName } = item
            if (memberLevelName == memberLevel) {
                memberLevelOptions += `<option value="${memberLevelId}" selected>${memberLevelName}</option>`
            }
            else {
                memberLevelOptions += `<option value="${memberLevelId}" >${memberLevelName}</option>`
            }
        })
        //console.log(memberLevelOptions)
        $('#level').append(memberLevelOptions)
    }
    async function loadCity() {
        const response = await fetch(`@Url.Content("~/memberapi/LoadCity")`)
        const datas = await response.json();
        const memberCity = $("#memberCity").val()
        let selectOptions = ""

        datas.map(item => {
            const { cityId, cityName } = item
            if (cityName == memberCity) {
                selectOptions += ` <option value="${cityId}" selected>${cityName}</option>`
            } else {
                selectOptions += ` <option value="${cityId}">${cityName}</option>`
            }
        })

        $("#city").append(selectOptions)

        loadArea();
    }

    $("#city").change(function () {
        // 清空area選項
        $("#area").empty();
        loadArea();
    })

    async function loadArea() {
        const cityId = $("#city").val()
        const response = await fetch(`@Url.Content("~/memberapi/loadarea?cityId=")${cityId}`)
        const datas = await response.json();
        const memberArea = $("#memberArea").val()
        let selectOptions = ""

        datas.map(item => {
            const { areaId, areaName } = item
            if (areaName == memberArea) {
                selectOptions += ` <option value="${areaId}" selected>${areaName}</option>`
            } else {
                selectOptions += ` <option value="${areaId}">${areaName}</option>`
            }
        })

        $("#area").append(selectOptions);
    }

    $(".btnSubmit").on('click', async function (event) {
        event.preventDefault();

        const formData = new FormData(document.EditForm);

        const response = await fetch('@Url.Content("~/FMember/MemberInfoEdit")', {
            body: formData,
            method: 'POST'
        })

        const data = await response.json();

        if (data.statusCode == 500) {
            Swal.fire({
                title: data.statusMessage,
                icon: 'error',
                showConfirmButton: false,
                timer: 1500
            })
        } else {
            Swal.fire({
                title: data.statusMessage,
                icon: 'success',
                showConfirmButton: false,
                timer: 1500,
            })
            setTimeout(() => {
                $('#divPartial').load('@Url.Content("~/fmember/MemberInfo")')
            }, 1500)
        }
    })

</script>
