@*<!DOCTYPE html>

<html lang="zh-hant">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>後臺管理系統</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/css/backgroundsystemhomepage.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <div class="bg-black row p-2 justify-content-between sticky-top">
        <div class=" col-3 row m-3">
            <div class="col-6">
                <img src="~/images/background/logoen.png" />
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
                <div class="text-white fw-bold fs-3 p-2">後臺管理系統</div>
            </div>
        </div>
        <div class=" col-3 row mx-3 justify-content-end">
            <div class="text-white  col-8 d-flex gap-3 align-items-center justify-content-end">
                <div class="fw-bold fs-5">歡迎,Aki</div>
                <img src="~/images/background/範例頭貼1.jpg" class="circle-size-60 cover" />
            </div>
            <div class="text-white  col-2 d-flex align-items-center justify-content-center">
                <a asp-controller="" class=" position-relative">
                    <img src="~/images/background/bell.png" class="width-40px" />
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        99+
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="myContainer">
        <div class="optionsAndContent">
            <div class="managerOptions sticky">
                <div class="btnOptions menu" id="btnMenu">
                    <figure class="icon">
                        <img src="~/images/background/close.png" />
                    </figure>
                </div>
                <div class="btnOptions">
                    <figure class="icon">
                        <img src="~/images/background/employee.png" />
                    </figure>
                    <div>員工管理</div>
                </div>
                <div class="btnOptions">
                    <figure class="icon">
                        <img src="~/images/background/group.png" />
                    </figure>
                    <div>會員管理</div>
                </div>
                <div class="btnOptions">
                    <figure class="icon">
                        <img src="~/images/background/tshirt.png" />
                    </figure>
                    <div>商品管理</div>
                </div>
                <div class="btnOptions">
                    <figure class="icon">
                        <img src="~/images/background/shopping-list.png" />
                    </figure>
                    <div>訂單管理</div>
                </div>
                <div class="btnOptions">
                    <figure class="icon">
                        <img src="~/images/background/coupon.png" />
                    </figure>
                    <div>優惠管理</div>
                </div>
            </div>
            <div class="content border">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="messageIcon">
        <figure>
            <img src="~/images/background/messenger.png" />
        </figure>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        let minSize = false;
        $("#btnMenu").click(function () {


            $(this).parent().toggleClass("min")
            if (!minSize) {
                $(this).find("img").prop("src", "@Url.Content("~/images/background/menu.png")")
                minSize = true
            }
            else {
                $(this).find("img").prop("src", "@Url.Content("~/images/background/close.png")")
                minSize = false
            }
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
*@
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/BackgroundSystemHomePage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <title>後台管理系統</title>
</head>
<body>
    <div class="myContainer nav">
        <div class="nav">
            <div class="logoAndTitle">
                <figure class="logo">
                    <img src="~/images/footer/logoen.png" />
                </figure>
                <div class="title">後台管理系統</div>
            </div>
            <div class="accountAndManage">
                <div>歡迎 , OOO</div>
                <figure class="photoStickers">
                    <img src="~/images/background/範例頭貼1.jpg" />
                </figure>
                <figure class="backgroundHeadIcon">
                    <img src="~/images/background/bell.png" />
                    <span class="notify">99</span>
                </figure>
            </div>
        </div>
    </div>
    <div class="myContainer">
        <div class="optionsAndContent">
            <div class="managerOptions sticky">
                <div class="btnOptions menu" id="btnMenu">
                    <figure class="icon">
                        <img src="~/images/background/close.png" />
                    </figure>
                </div>
                <div class="btnOptions">
                    <figure class="icon">
                        <img src="~/images/background/employee.png" />
                    </figure>
                    <div>員工管理</div>
                </div>
                <div class="btnOptions">
                    <figure class="icon">
                        <img src="~/images/background/group.png" />
                    </figure>
                    <div>會員管理</div>
                </div>
                <div class="btnOptions">
                    <figure class="icon">
                        <img src="~/images/background/tshirt.png" />
                    </figure>
                    <div>商品管理</div>
                </div>
                <div class="btnOptions">
                    <figure class="icon">
                        <img src="~/images/background/shopping-list.png" />
                    </figure>
                    <div>訂單管理</div>
                </div>
                <div class="btnOptions">
                    <figure class="icon">
                        <img src="~/images/background/coupon.png" />
                    </figure>
                    <div>優惠管理</div>
                </div>
            </div>
            <div class="container ">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="messageIcon">
        <figure>
            <img src="~/images/background/messenger.png" />
        </figure>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script>
        let minSize = false;
        $("#btnMenu").click(function () {


            $(this).parent().toggleClass("min")
            if (!minSize) {
                $(this).find("img").prop("src", '@Url.Content("~/images/background/menu.png")')
                minSize = true
            }
            else {
                $(this).find("img").prop("src", '@Url.Content("~/images/background/close.png")')
                minSize = false
            }
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>