@model prjOniqueWebsite.Models.ViewModels.OrderPagination
@{
    ViewData["Title"] = "訂單總覽";
    Layout = "~/Views/Shared/_Layout_Background.cshtml";
}

<div class="container">
    <div class="m-3 fs-3 fw-bold text-center border-bottom py-4 border-dark-subtle">訂單管理</div>
    <div class="m-3 d-flex gap-3 justify-content-center">
        <div class="d-flex gap-2">
            <div class="circle-size-25 color-95CACA border rounded-circle"></div>
            <div class="statusName">待出貨</div>
        </div>
        <div class="d-flex gap-2">
            <div class="circle-size-25 color-D9B3B3 border rounded-circle"></div>
            <div class="statusName">已出貨</div>
        </div>
        <div class="d-flex gap-2">
            <div class="circle-size-25 color-66B3FF border rounded-circle"></div>
            <div class="statusName">已完成</div>
        </div>
        <div class="d-flex gap-2">
            <div class="circle-size-25 color-FFE66F border rounded-circle"></div>
            <div class="statusName">已取消</div>
        </div>
        <div class="d-flex gap-2">
            <div class="circle-size-25 color-CA8EC2 border rounded-circle"></div>
            <div class="statusName">退款中</div>
        </div>
        <div class="d-flex gap-2">
            <div class="circle-size-25 color-FFAD86 border rounded-circle"></div>
            <div class="statusName">已退款</div>
        </div>
        <div class="d-flex gap-2">
            <div class="circle-size-25 color-FF7575 border rounded-circle"></div>
            <div class="statusName">未取貨</div>
        </div>
    </div>
    <div class="d-flex justify-content-between px-4">
        <div class="d-flex align-items-center gap-2">
            <div class="width-70px">每頁顯示</div>
            <div>
                <select class="form-select d-inline" aria-label="資料筆數" id="dataPerPage">
                    <option value="10">10筆資料</option>
                    <option value="20">20筆資料</option>
                    <option value="30">30筆資料</option>
                </select>
            </div>

            <div class="width-70px ms-3">排序方式</div>
            <div>
                <select class="form-select d-inline" aria-label="資料筆數" id="sort">
                    <option value="OrderDateDescending">下單時間:晚至早</option>
                    <option value="OrderDateAscending">下單時間:早至晚</option>

                </select>
            </div>
        </div>



        <div class="d-flex align-items-center">
            <div class="mx-3">
                <input type="text" id="txtKeyWord" placeholder="請輸入訂單關鍵字" class="form-control" />
            </div>
            <div>
                <input type="submit" value="查詢" class="btn btn-dark" id="Search" />
            </div>
        </div>


    </div>
    <div class="container">
        <div class="p-2 my-4 border border-dark-subtle rounded-4 ">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th>訂單狀態</th>
                        <th>訂單編號</th>
                        <th>訂購會員</th>
                        <th>訂單日期</th>
                        <th>付款方式</th>
                        <th>詳情</th>
                    </tr>
                </thead>
                <tbody id="orderTable">
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <nav class="d-flex justify-content-center" aria-label="Page navigation example">
            <ul class="pagination">
                @*<li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>*@
            </ul>
        </nav>
    </div>
</div>



@section Scripts{
    <script>
        const orderTable = document.querySelector("#orderTable")
        const searchbtn = document.querySelector("#Search")
        const keywordtxt = document.querySelector("#txtKeyWord")
        const inputkeyWord = keywordtxt.textContent;
        const dataPerPageSel = document.querySelector("#dataPerPage")
        const sortsel = document.querySelector('#sort')
        //load();
        //async function load() {
        //    const response = await fetch(`@Url.Content("~/OrderApi/showOrderList")`)
        //    const data = await response.json();

        //    let tableOrdersList = "";
        //    data.map(item => {


        //        const { statusName, orderId, name, shippingDate, paymentMethodName, photoPath, orderDate } = item
        //        let displayPhotoPath = photoPath == null ? "default.jpg" : photoPath
        //        displayorderDate = orderDate.substring(0, 10) + " " + orderDate.substring(11, 19);
        //        //console.log(displayorderDate)
        //        tableOrdersList += `
        //                                                                                                                                        <tr>
        //                                                                                                                                        <td>
        //                                                                                                                                        <div class="d-flex gap-2">`;
        //        if (statusName == "待出貨") {
        //            tableOrdersList += `<div class="circle-size-25 color-95CACA border rounded-circle"></div>
        //                                                                                                                                                                                                            <div>${statusName}</div>`
        //        }
        //        else if (statusName == "已出貨") {
        //            tableOrdersList += ` <div class="circle-size-25 color-D9B3B3 border rounded-circle"></div>
        //                                                                                                                                                                                                            <div>${statusName}</div>`
        //        }
        //        else if (statusName == "已完成") {
        //            tableOrdersList += `<div class="circle-size-25 color-66B3FF border rounded-circle"></div>
        //                                                                                                                                                                                                            <div>${statusName}</div>`
        //        }
        //        else if (statusName == "已取消") {
        //            tableOrdersList += `<div class="circle-size-25 color-FFE66F border rounded-circle"></div>
        //                                                                                                                                                                                                            <div>${statusName}</div>`
        //        }
        //        else if (statusName == "退款中") {
        //            tableOrdersList += `<div class="circle-size-25 color-CA8EC2 border rounded-circle"></div>
        //                                                                                                                                                                                                            <div>${statusName}</div>`
        //        }
        //        else if (statusName == "已退款") {
        //            tableOrdersList += `<div class="circle-size-25 color-FFAD86 border rounded-circle"></div>
        //                                                                                                                                                                                                            <div>${statusName}</div>`
        //        }
        //        else {
        //            tableOrdersList += ` <div class="circle-size-25 color-FF7575 border rounded-circle"></div>
        //                                                                                                                                                                                                                    <div>${statusName}</div>`
        //        }
        //        tableOrdersList += `
        //                                                </div>
        //                                                </td>
        //                                                <td>
        //                                                <span>${orderId}</span>
        //                                                </td>
        //                                                <td>
        //                                                        <img src="@Url.Content("~/images/uploads/members/")${displayPhotoPath}" alt="" class="cover circle-size-40">
        //                                                <span>${name}</span>
        //                                                </td>
        //                                                    <td>${displayorderDate}</td>
        //                                                    <td>${paymentMethodName}</td>
        //                                                <td>
        //                                                    <button type="button" class="btn btn-outline-dark" onclick="openOrderDetails(${orderId})">檢視訂單詳情</button>
        //                                                </div>
        //                                                </a>
        //                                                </td>
        //                                                </tr>`
        //    })

        //    $("#orderTable").append(tableOrdersList)

        //}



        //搜尋功能
        searchbtn.addEventListener('click', () => {
            let keyWord = keywordtxt.value;
            showSearchdata(keyWord)
        })

        let SelectStatus = "";

        $('.statusName').click(function () {
            const keyWord = $(this).text()
            if (SelectStatus == keyWord) {
                SelectStatus = ""
                showSearchdata("")
            }
            else {
                showSearchdata(keyWord)
                SelectStatus = keyWord

            }
        })

        $(document).ready(() => {
            loadAutoCompleteData()
        })
        async function loadAutoCompleteData() {


            const response = await fetch(`@Url.Content("~/OrderApi/tags")`);
            const data = await response.json();
            let Tags = data;

            $("#txtKeyWord").autocomplete({
                source: Tags, //將資訊丟進Source參數裡
                minLength: 1 //使用者最少輸入多少個字才啟動autocomplete
            });
        }

        //Ketyword傳回的資料不會分頁,應該是依keyword傳回的資料筆數作芬頁及頁碼
        async function showSearchdata(keyWord) {


            const response = await fetch(`@Url.Content("~/OrderApi/search?keyWord=")${keyWord}`)
            const data = await response.json();
            
            
            data.map(row => {
                const { statusName, orderId, name, shippingDate, paymentMethodName, photoPath, orderDate } = row
                //console.log(row)
                let tableOrdersList = "";
                data.map(item => {

                    const { statusName, orderId, name, shippingDate, paymentMethodName, photoPath } = item
                    
                    let displayPhotoPath = photoPath == null ? "default.jpg" : photoPath
                    displayorderDate = orderDate.substring(0, 10) + " " + orderDate.substring(11, 19)
                   
                    tableOrdersList += `
                                <tr>
                                <td>
                                <div class="d-flex gap-2">`;
                    if (statusName == "待出貨") {
                        tableOrdersList += `<div class="circle-size-25 color-95CACA border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                    }
                    else if (statusName == "已出貨") {
                        tableOrdersList += ` <div class="circle-size-25 color-D9B3B3 border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                    }
                    else if (statusName == "已完成") {
                        tableOrdersList += `<div class="circle-size-25 color-66B3FF border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                    }
                    else if (statusName == "已取消") {
                        tableOrdersList += `<div class="circle-size-25 color-FFE66F border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                    }
                    else if (statusName == "退款中") {
                        tableOrdersList += `<div class="circle-size-25 color-CA8EC2 border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                    }
                    else if (statusName == "已退款") {
                        tableOrdersList += `<div class="circle-size-25 color-FFAD86 border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                    }
                    else {
                        tableOrdersList += ` <div class="circle-size-25 color-FF7575 border rounded-circle"></div>
                                                                                                                                                                                                                                    <div>${statusName}</div>`
                    }
                    tableOrdersList += `
                                                    </div>
                                                    </td>
                                                    <td>
                                                    <span>${orderId}</span>
                                                    </td>
                                                    <td>
                                                            <img src="@Url.Content("~/images/uploads/members/")${displayPhotoPath}" alt="" class="cover circle-size-40">
                                                    <span>${name}</span>
                                                    </td>
                                                                    <td>${displayorderDate}</td>
                                                    <td>${paymentMethodName}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-outline-dark" onclick="openOrderDetails(${orderId})">檢視訂單內容
                                                        </button>
                                                    </div>
                                                    </a>
                                                    </td>
                                                    </tr>`
                })
               
                $("#orderTable").html(tableOrdersList)
            })
        }

        function openOrderDetails(orderId) {
            const url = '@Url.Action("Details", "Order")' + '?orderId=' + orderId; // 構造URL
            window.location.href = url; // 導航到詳細頁面


        }
        //製作可點選的"頁碼"",應該依顯示資料筆數動態改變
        const totalcount = @Model.OrderCount
            let pagesize = dataPerPageSel.options[dataPerPageSel.selectedIndex].value
        const totalPages = Math.ceil(totalcount / pagesize);
        const items = []

        for (let i = 1; i <= totalPages; i++) {

            const item = ` <li class="page-item" onclick="clickHandler(${i})"> <a class="page-link">${i}</a></li >`;

            items.push(item)
        }
        $(".pagination").html(items.join(""))
        //切換分類方式
        sortsel.addEventListener('click', () => {
            const dataShowOnPage = dataPerPageSel.options[dataPerPageSel.selectedIndex].value;
            const sortSolution = sortsel.options[sortsel.selectedIndex].value;
            let pagesize = dataShowOnPage;
            let page = 1;
            let sort = sortSolution;

            getPageData(page, pagesize, sort);
        })
        

        //抓到點選的頁碼數，帶入參數呼叫api
        const clickHandler = pageIndex => {
            const dataShowOnPage = dataPerPageSel.options[dataPerPageSel.selectedIndex].value;
            const sortSolution = sortsel.options[sortsel.selectedIndex].value;
            let pagesize = dataShowOnPage;
            let page = pageIndex;
            let sort = sortSolution;

            getPageData(page, pagesize, sort);
        }
        
        //轉換每頁顯示筆數會回到第一頁
        dataPerPageSel.addEventListener('change', () => {
            const dataShowOnPage = dataPerPageSel.options[dataPerPageSel.selectedIndex].value

            let pagesize = dataShowOnPage
            let page = 1;
            const totalcount = @Model.OrderCount
                console.log(dataShowOnPage)
            const totalPages = Math.ceil(totalcount / pagesize);
            const items = []
            for (let i = 1; i <= totalPages; i++) {
                const item = ` <li class="page-item" onclick="clickHandler(${i})"> <a class="page-link">${i}</a></li >`;
                items.push(item)
            }
            $(".pagination").html(items.join(""))
            getPageData(page, pagesize, sort);

        })
        //畫面顯示的預設設定
        $(document).ready(() => {
            let page = 1;
            let pagesize = dataPerPageSel.options[dataPerPageSel.selectedIndex].value
            let sort = sortsel.options[sortsel.selectedIndex].value;
            getPageData(page, pagesize, sort)
        })
        
        //呼叫更新頁面畫面的api
        async function getPageData(page, pagesize, sort) {
            const response = await fetch(`@Url.Content("~/OrderApi/orderPage?page=")${page}&pageSize=${pagesize}&sort=${sort}`)
            const data = await response.json()
            let tableOrdersList = "";
            data.map(item => {


                const { statusName, orderId, name, shippingDate, paymentMethodName, photoPath, orderDate } = item
                displayorderDate = orderDate.substring(0, 10) + " " + orderDate.substring(11, 19)
                let displayPhotoPath = photoPath == null ? "default.jpg" : photoPath
                //console.log(displayPhotoPath)
                tableOrdersList += `
                                                                                                    <tr>
                                                                                                    <td>
                                                                                                    <div class="d-flex gap-2">`;
                if (statusName == "待出貨") {
                    tableOrdersList += `<div class="circle-size-25 color-95CACA border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                }
                else if (statusName == "已出貨") {
                    tableOrdersList += ` <div class="circle-size-25 color-D9B3B3 border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                }
                else if (statusName == "已完成") {
                    tableOrdersList += `<div class="circle-size-25 color-66B3FF border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                }
                else if (statusName == "已取消") {
                    tableOrdersList += `<div class="circle-size-25 color-FFE66F border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                }
                else if (statusName == "退款中") {
                    tableOrdersList += `<div class="circle-size-25 color-CA8EC2 border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                }
                else if (statusName == "已退款") {
                    tableOrdersList += `<div class="circle-size-25 color-FFAD86 border rounded-circle"></div>
                                                                                                                                                                                                                            <div>${statusName}</div>`
                }
                else {
                    tableOrdersList += ` <div class="circle-size-25 color-FF7575 border rounded-circle"></div>
                                                                                                                                                                                                                                    <div>${statusName}</div>`
                }
                tableOrdersList += `
                   </div>
                    </td>
                    <td>
                    <span>${orderId}</span>
                    </td>
                    <td>
                            <img src="@Url.Content("~/images/uploads/members/")${displayPhotoPath}" alt="" class="cover circle-size-40">
                    <span>${name}</span>
                    </td>
                                    <td>${displayorderDate}</td>
                    <td>${paymentMethodName}</td>
                    <td>
                        <button type="button" class="btn btn-outline-dark" onclick="openOrderDetails(${orderId})">檢視訂單詳情</button>
                    </div>
                    </a>
                    </td>
                    </tr>`
            })

            $("#orderTable").html(tableOrdersList)
        }

    </script>
}
@section Styles{
    <style>
        .statusName:hover {
            color: crimson;
            background-color: antiquewhite;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
}