@model prjOniqueWebsite.Models.ViewModels.BgDiscointCreateVM

@{
    ViewData["Title"] = "新增優惠";
    Layout = "~/Views/Shared/_Layout_Background.cshtml";
}
<form method="post" enctype="multipart/form-data">
    <div>
        <div class="fw-bold fs-4 border-bottom text-center p-3">新增優惠</div>
    </div>
    <div class="border m-2 p-2 rounded shadow width-1000px mx-auto d-flex justify-content-around">
        <div>
            <div class="border rounded my-4 mx-auto btnUpload cursor-pointer" style="width:350px; height:350px">
                <img src="@Url.Content("~/images/DiscountPhoto/default.jpg")" id="imgDiscountPhoto" />
            </div>
            <div class="width-400 mx-auto">
                <input type="file" class="form-control" style="visibility:hidden" id="inputUpload" name="Photo" />
            </div>
        </div>
        <div class="mt-5">
            <div class="d-flex gap-3 justify-content-center my-2" style="height:62px;">
                <div class="fw-bold width-90px text-end" style="height:38px;line-height:38px;">活動名稱</div>
                <div class="width-300px">
                    <input type="text" class="form-control" name="Title" id="inputTitle"/>
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-center my-2" style="height:62px;">
                <div class="fw-bold width-90px text-end" style="height:38px;line-height:38px;">折扣方式</div>
                <div class="width-300px">
                    <input type="text" class="form-control" name="DiscountMethod" id="inputDiscountMethod" />
                    @Html.ValidationMessageFor(model => model.DiscountMethod, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-center my-2" style="height:62px;">
                <div class="fw-bold width-90px text-end" style="height:38px;line-height:38px;">開始時間</div>
                <div class="width-300px">
                    <input type="datetime-local" class="form-control" name="BeginDate" id="inputBeginDate" />
                    @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-center my-2" style="height:62px;">
                <div class="fw-bold width-90px text-end" style="height:38px;line-height:38px;">結束時間</div>
                <div class="width-300px">
                    <input type="datetime-local" class="form-control" name="EndDate" id="inputEndDate" />
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-center my-2">
                <div class="fw-bold width-90px text-end" style="height:38px;line-height:38px;">活動內容</div>
                <div class="width-300px">
                    <textarea class="form-control" name="Description" id="inputDescription"></textarea>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center gap-3 my-4">
        <input type="button" class="btn btn-outline-secondary btnDemoCreate" value="Demo" />
        <a type="button" class="btn btn-outline-dark" href="@Url.Content("~/DiscountManage/Index")">取消</a>
        <input type="submit" value="新增" class="btn btn-dark" />
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('.btnUpload').on('click', function () {
            $('#inputUpload').trigger('click');
        })
        const photo = document.querySelector("#inputUpload");
        photo.addEventListener('change', function () {
            const files = photo.files
            if (files.length == 0) {
                const defaultPath = "@Url.Content("~/images/DiscountPhoto/default.jpg")"
                $("#imgDiscountPhoto").attr("src", defaultPath)
            }
            else {
                const url = URL.createObjectURL(files[0])
                $("#imgDiscountPhoto").attr("src", url)
            }
        })

        $('.btnDemoCreate').on('click',function(){
            let title = '復古潮流趴';
            let discountMethod = 0.7;
            let beginDate = '2023-08-25T00:00';
            let endDate = '2023-10-25T00:00';
            let description = '我們誠摯地邀請您加入我們的"復古潮流趴"，一個追尋過去時光的獨特體驗。無論您是喜愛70年代、80年代還是90年代的風格，我們都將為您帶來最具代表性的復古服飾和配飾。一同穿越時光，感受復古風潮的魅力！';

            $('#inputTitle').val(title);
            $('#inputDiscountMethod').val(discountMethod);
            $('#inputBeginDate').val(beginDate);
            $('#inputEndDate').val(endDate);
            $('#inputDescription').text(description);

        })
    </script>
}
@section Styles{
    <style>

    </style>
}