@model prjOniqueWebsite.Models.ViewModels.EmployeeVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Background.cshtml";
}



<form class="container my-5 p-2 border border-secondary rounded-4 shadow" method="post" enctype="multipart/form-data">
    <div class="m-2 fs-3 fw-bold text-center border-bottom py-4 border-dark-subtle">新增員工</div>
    <div class=" p-2 my-3 justify-content-around row ">
        <div class=" col-3 ">
            <div class=" p-2 d-flex justify-content-center">
                <img src="@Url.Content("~/Images/uploads/employee/defaults.jpg")" id="imageEmployee"
                     class="rounded rounded-4 width-300px img-thumbnail img-fluid" />
            </div>
            <div>
                <input type="file" name="Photo" id="Photo" class="form-control my-5">
            </div>
        </div>
        <div class=" col-8 border mx-2">
            <div class="p-1 ">
                <div class="row justify-content-around  p-3 ">
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">姓名</div>
                        <div class="mx-2">
                            <input type="text" class="form-control" name="EmployeeName" placeholder="員工姓名" id="inputEmployeeName" />
                            @Html.ValidationMessageFor(model => model.EmployeeName)
                        </div>
                    </div>
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">生日</div>
                        <div class="mx-2">
                            <input type="date" name="DateOfBirth" id="inputDateOfBirth" class="form-control" />
                            @Html.ValidationMessageFor(model=>model.DateOfBirth,"",new{@class = "text-danger"})
                        </div>
                        
                    </div>
                </div>
                <div class="row justify-content-around p-3">
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">性別</div>
                        <div class="mx-3 d-flex row">

                             <div class="pt-2 d-flex col-6 align-items-center">
                                <input type="radio" name="Gender" value="男" id="male" checked>
                                    <label for="male">男</label>
                             </div>

                             <div class="pt-2 d-flex col-6 align-items-center">
                                <input type="radio" name="Gender" value="女" id="female" >
                                    <label for="female">女</label>
                              </div>
                            @Html.ValidationMessageFor(model=>model.Gender,"",new{@class = "text-danger"})
                        </div>
                    </div>
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">電話</div>
                        <div class="mx-3">
                            <input type="text" class="form-control" name="Phone" id="inputPhone" placeholder="請輸入電話號碼">
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around p-3">
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">信箱</div>
                        <div class="mx-3">
                            <input type="text" class="form-control" name="Email" id="inputEmail" placeholder="請輸入電子信箱">
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">密碼</div>
                        <div class="mx-3">
                            <input type="text" class="form-control" name="Password" id="inputPassword" placeholder="請輸入密碼">
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around p-3">
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">身分</div>
                        <div class="mx-3">
                            
                            <input type="hidden" id="employeeLevel" required="required" />
                            <select class="form-select" name="EmployeeLevel" id="level">
                                @*<option selected>-請選擇身分</option>*@
                                
                            </select>
                            
                            
                        </div>
                        
                    </div>
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">註冊日期</div>
                        <div class="mx-3">
                            <input type="date" class="form-control" name="RegisterDate" id="registerDate" readonly>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-around p-3">
                    <div class="col-12  mt-2 d-flex justify-content-start ">
                        <div class=" width-90px text-end fw-bold">地址</div>
                        <div class="mx-3">
                            <input type="hidden" id="employeeCity"  />
                            <select class="form-select " name="Citys" value="" id="city" >
                                @*<option selected>-請選擇縣市-</option>*@
                                @*<option value="1">台北市</option>
                                <option value="2">新北市</option>
                                <option value="3">桃園市</option>*@
                            </select>
                            @Html.ValidationMessageFor(model=>model.Citys,"",new{@class = "text-danger"})
                        </div>
                        <div class="mx-3">
                            <input type="hidden" id="employeeArea"  />
                            <select class="form-select " name="Areas" value="" id="area">
                                @*<option selected>-請選擇地區-</option>*@
                                @*<option value="1">大安區</option>
                                <option value="2">中山區</option>
                                <option value="3">中正區</option>*@
                            </select>
                        </div>
                        <div class="mx-3 ">
                            <input type="text" class="form-control" name="Address" id="inputAddress" placeholder="請輸入地址">
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

                <div class="row justify-content-around p-5">
                    <div class="text-center ">
                        <input type="button" class="btn btn-outline-secondary p-2 px-4" value="Demo" id="Demo" />
                        <input type="submit" value="確定新增" class="CreateAddButton p-2 px-4">
                        <a asp-action="Index"><input type="button" value="取消" class="AddButton p-2 px-4"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        LoadEmployeeLevel();
        loadCity();
        
        async function LoadEmployeeLevel() {
            const response = await fetch(`@Url.Content("~/employeeapi/LoadEmployeeLevel")`)
            const datas = await response.json();
            const employeeLevel = $("#employeeLevel").val()
            let employeeLevelOptions = ""
            console.log(datas)
            datas.map(item => {
                const { employeeLevelId, employeeLevelName } = item
                employeeLevelOptions += `<option value="${employeeLevelId}" >${employeeLevelName}</option>`
            })
            console.log(employeeLevelOptions)
            $('#level').append(employeeLevelOptions)
                
        }

        async function loadCity() {
            const response = await fetch(`@Url.Content("~/employeeapi/LoadCity")`)
            const datas = await response.json();
            const employeeCity = $("#employeeCity").val()
            let selectOptions = ""
            console.log(datas)
            datas.map(item => {
                const { cityId, cityName } = item
                selectOptions += ` <option value="${cityId}">${cityName}</option>`
            })
            $("#city").append(selectOptions)

            loadArea();
        }

        $("#city").change(function () {
            // 清空area選項
            $("#area").empty();
            loadArea();
        })

        async function loadArea() {
            const cityId = $("#city").val()
            const response = await fetch(`@Url.Content("~/employeeapi/LoadArea?cityId=")${cityId}`)
            const datas = await response.json();
            const memberArea = $("#employeeArea").val()
            let selectOptions = ""

            datas.map(item => {
                const { areaId, areaName } = item
                selectOptions += ` <option value="${areaId}">${areaName}</option>`
            })

            $("#area").append(selectOptions);
        }

        $(document).ready(function () {  //確定頁面載入後再執行
            // 抓取今天日期
            var today = new Date();

            // 將日期轉為yyyy-mm-dd形式
            var formattedDate = formatDate(today);

            // 將日期存入表單中
            $("#registerDate").val(formattedDate);
        });

        function formatDate(date) {
            var year = date.getFullYear(); //抓年份
            var month = ("0" + (date.getMonth() + 1)).slice(-2); //getMonth()會回傳0~11，所以前面補0後，取最後2位數字
            var day = ("0" + date.getDate()).slice(-2); 
            return year + "-" + month + "-" + day;
        }

        const photo = document.querySelector('#Photo')
        photo.addEventListener('change', () => {
            const file = photo.files
            if (file.length == 0) {
                let imgDefault = '@Url.Content("~/images/uploads/Employee/defaults.jpg")'
                $('#imageEmployee').attr('src', imgDefault)
            }
            else {
                const url = URL.createObjectURL(file[0]);
                $('#imageEmployee').attr('src', url)
            }
        })

        $('#Demo').on('click', function () {
            let employeeName = "Duncan"
            $('#inputEmployeeName').val(employeeName)
            let email = "Duncan@gmail.com"
            $('#inputEmail').val(email)
            let phone = "0945618947"
            $('#inputPhone').val(phone)
            let dateofbirth = "1998-11-05"
            $('#inputDateOfBirth').val(dateofbirth)
            let assword = "123"
            $('#inputPassword').val("123")
            let address = "中山北路一段"
            $('#inputAddress').val(address)
        })
    </script>
}

@section Styles{
    <link href="~/css/EmployeeCreate.css" rel="stylesheet" />
    <link href="~/css/Common.css" rel="stylesheet" />
    <link href="~/css/Reset.css" rel="stylesheet" />

    <style>
        .field-validation-error {
            color: red; 
        }
    </style>
}


