@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Background.cshtml";
}

<form class="container" method="post">
    <div class="m-3 fs-3 fw-bold text-center border-bottom py-4 border-dark-subtle">員工管理</div>
    <div class="d-flex justify-content-between px-4">
        <div class="d-flex align-items-center gap-2">
            <a asp-action="Create">
                <input type="button" value="新增員工" class="AddButton p-2 px-4">
            </a>
        </div>
        <div class="d-flex align-items-center gap-2">
            <div class="width-90px  ">每頁顯示 : </div>
            <div>
                <select class="form-select d-inline" aria-label="資料筆數" id="pageSizeSelect" onchange="changePage(1)">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </div>
            <div class="width-50px ">筆資料</div>
        </div>
        <div class="d-flex align-items-center">
            <span>關鍵字搜尋 : </span>
            <div class="d-flex">
                <input type="text" name="txtKeyword" id="txtKeyword" placeholder="請輸入關鍵字" class="form-control">
                <input type="submit" value="查詢" class="btn btn-outline-secondary p-2 px-4" id="btnSearch" />
            </div>
        </div>
    </div>
</form>
<div class="container">
    <div class="p-2 my-4 border border-dark-subtle rounded-4 ">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>頭貼</th>
                    <th>員工姓名</th>
                    <th>生日</th>
                    <th>性別</th>
                    <th>電話</th>
                    <th>信箱</th>
                    <th>身分</th>
                    <th>修改</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody id="employeetable">
            </tbody>
        </table>
    </div>

    <div class="modal" id="confirmDialog" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">刪除確認</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="confirmMessage">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" id="confirmButton">確定</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <nav class="d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination" id="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@section Scripts{
    <script>
        const employeetable = document.querySelector("#employeetable");
        let data = []; 

        load();

        async function load() {
            const response = await fetch(`@Url.Content("~/EmployeeApi/showEmployeeList")`);
            data = await response.json();
            data.reverse();

            renderTable(data, 10);
        }

        function performSearch() {
            const keyword = document.getElementById("txtKeyword").value.toLowerCase();
            const pageSize = parseInt(document.getElementById("pageSizeSelect").value); // 获取每页显示数据数量
            filteredData = data.filter(item => {
                const employeeName = item.employeeName.toLowerCase();
                const phone = item.phone.toLowerCase();
                const email = item.email.toLowerCase();

                return employeeName.includes(keyword) || phone.includes(keyword) || email.includes(keyword);
            });

            currentPage = 1;
            filteredData.reverse();
            renderTable(filteredData, pageSize);
            renderPagination(filteredData.length, pageSize);
        }



        function renderTable(data, pageSize) {
            const totalItems = data.length;
            const totalPages = Math.ceil(totalItems / pageSize);
            let currentPage = 1;

            const startIndex = (currentPage - 1) * pageSize;
            const endIndex = startIndex + pageSize;
            const currentPageData = data.slice(startIndex, endIndex);
            

            const tableEmployeeList = data.slice((currentPage - 1) * pageSize, currentPage * pageSize).map(item => {  //取得第一頁的10筆資料
                const { employeeId, photoPath, employeeName, dateOfBirth, gender, phone, email, employeeLevelName } = item;
                const formattedDateOfBirth = formatDate(dateOfBirth);
                const hasPhoto = !!photoPath; // 將是否有照片的狀態轉換為布林值

                //true顯示上傳的圖片 false顯示default
                const imgSrc = hasPhoto ? '@Url.Content("~/images/uploads/Employee/")' + photoPath : 
                '@Url.Content("~/images/uploads/employee/defaults.jpg")';

                return (`
                    <tr>

                        <td>
                            <div class="d-flex gap-2 imgbox">
                                 <img src="${imgSrc}?timestamp=${new Date().getTime()}" alt="" />
                            </div>
                        </td>
                        <td>
                            <span>${employeeName}</span>
                        </td>
                        <td>${formattedDateOfBirth}</td>
                        <td>${gender}</td>
                        <td>${phone}</td>
                        <td>${email}</td>
                        <td>${employeeLevelName}</td>
                        <td>
                            <div class="circle-size-25">
                                <a href="@Url.Content("~/employees/edit?id=")${employeeId}">
                                    <img src="@Url.Content("~/images/uploads/Employee/edit.png")" alt="">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="circle-size-25">
                                        <a href="javascript:void(0);" onclick="openDelete(${employeeId}, '${employeeName}')">
                                    <img src="@Url.Content("~/images/uploads/Employee/delete.png")" alt="">
                                </a>
                            </div>
                        </td>
                    </tr>
                `)
            });

            employeetable.innerHTML = tableEmployeeList.join("");  //將HTML內容動態放入到指定的元素中

            // 生成分頁籤
            const paginationElement = document.getElementById("pagination");
            const paginationHTML = `
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" onclick="changePage(${currentPage - 1})">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                ${Array.from({ length: totalPages }, (_, i) => `
                    <li class="page-item ${currentPage === i + 1 ? 'active' : ''}">
                        <a class="page-link" href="#" onclick="changePage(${i + 1})">${i + 1}</a>
                    </li>
                `).join("")}
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" onclick="changePage(${currentPage + 1})">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            `;

            paginationElement.innerHTML = paginationHTML;
        }

        let currentPage = 1;
        let filteredData = [];

        function changePage(pageNumber) {
            const pageSize = parseInt(document.getElementById("pageSizeSelect").value);
            const startIndex = (pageNumber - 1) * pageSize;
            const endIndex = startIndex + pageSize;

            currentPage = pageNumber;
            const currentPageData = data.slice(startIndex, endIndex);
            renderTable(currentPageData, pageSize); 
            renderPagination(data.length, pageSize);
        }

        function renderPagination(totalItems, pageSize) {
            const paginationElement = document.getElementById("pagination");
            const totalPages = Math.ceil(totalItems / pageSize); 
            const paginationHTML = `
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" onclick="changePage(${currentPage - 1})">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                ${Array.from({ length: totalPages }, (_, i) => `
                    <li class="page-item ${currentPage === i + 1 ? 'active' : ''}">
                        <a class="page-link" href="#" onclick="changePage(${i + 1})">${i + 1}</a>
                    </li>
                `).join("")}
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" onclick="changePage(${currentPage + 1})">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            `;

            paginationElement.innerHTML = paginationHTML;
        }

        // 先生成一次分頁籤
        renderPagination();


        document.addEventListener("DOMContentLoaded", function () {  //頁面生成載入完後才會觸發
            // 綁定查詢按鈕點擊事件
            const btnSearch = document.getElementById("btnSearch");
            btnSearch.addEventListener("click", function () {
                performSearch();
            });

            // 綁定表單提交事件，防止清單生成
            const form = document.querySelector("form");
            form.addEventListener("submit", function (event) {
                event.preventDefault();//因送出時會重新load清單，所以使用event.preventDefault()取消該行為，防止清單生成
                performSearch();
            });
        });

        function formatDate(dateString) {
            const date = new Date(dateString);
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0'); // 補零至兩位數
            const day = String(date.getDate()).padStart(2, '0'); // 補零至兩位數
            return `${year}-${month}-${day}`;
        }

        function openDelete(employeeId, employeeName) {
            const confirmDialog = new bootstrap.Modal(document.getElementById("confirmDialog"));
            const confirmMessageElement = document.getElementById("confirmMessage");
            const confirmButton = document.getElementById("confirmButton");

            confirmMessageElement.textContent = `確定要刪除 員工姓名：${employeeName} 的員工嗎？`;

            confirmButton.onclick = function () {
                const url = '@Url.Action("Delete", "Employees")' + '?employeeId=' + employeeId;
                window.location.href = url;
            };

            confirmDialog.show();
        }

        

    </script>
}

@section Styles{
    <link href="~/css/Employee.css" rel="stylesheet" />
}

