@model List<prjOniqueWebsite.Models.Dtos.ShoppingCartDto>
@{
    ViewData["Title"] = "查看購物車";
}

<div class="container returnView">
    <div>
        <div class="status d-flex justify-content-center gap-5 mb-3 py-4 border-bottom border-secondary">
            <div class="active">
                <span class="step">1</span>
                <span>查看購物車</span>
            </div>
            <div>&gt;</div>
            <div>
                <span class="step">2</span>
                <span>訂單確認</span>
            </div>
            <div>&gt;</div>
            <div>
                <span class="step">3</span>
                <span>訂單結算</span>
            </div>
        </div>
    </div>
    <div class="border border-dark-subtle shadow rounded-3 p-2">
        <table class="table  align-middle">
            <thead class="table-dark">
                <tr>
                    <th width="250">商品圖片</th>
                    <th width="250">商品名稱</th>
                    <th>尺寸</th>
                    <th>顏色</th>
                    <th width="150">數量</th>
                    <th>小計</th>

                    <th>刪除</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@Url.Content("~/images/uploads/products/")@item.ProductStock.PhotoPath" alt="@item.Product.ProductName"
                                     class="w-120-h-120 rounded-3 shadow-sm">
                            </td>
                            <td>
                                @item.Product.ProductName
                            </td>
                            <td>
                                <select class="form-select form-select-sm w-50">
                                    
                                </select>
                            </td>
                            <td>
                                <select class="form-select form-select-sm w-50">
                                    
                                </select>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <div class="border border-dark-subtle text-center cursor-pointer btnReduce" style="width: 25px;" >-</div>
                                    <input type="text" value="@item.ShoppingCart.OrderQuantity" disabled id="orderQty" class="width-50px text-center" />
                                    <div class="border border-dark-subtle text-center cursor-pointer btnIncrease" style="width: 25px;" >+</div>
                                </div>
                            </td>
                            <td>???</td>

                            <td>
                                <a href="">
                                    <div class="circle-size-25">
                                        <img src="@Url.Content("~/images/icon/delete.png")" />
                                    </div>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="container text-center">
        <div class="py-4">
            <span class="dollarSign">小計</span>
            <span class="text-danger fw-bold fs-5">???</span>
        </div>
        <div class="p-2">
            <input type="button" value="繼續購物" class="btn btn-outline-dark" style="width: 150px;">
            <input type="submit" value="結帳" class="btn btn-danger" style="width: 150px;">
        </div>
    </div>
</div>


@section Styles{
    <link href="~/css/shoppingcart.css" rel="stylesheet" />

}
@section Scripts{
    <script>
        $(".btnReduce").click(function () {
            let orderQty = Number($(this).nextAll('input').val())
            if (orderQty <= 1) {
                orderQty = 1
                $(this).nextAll('input').val(orderQty.toString());
            }
            else {
                orderQty--
                $(this).nextAll('input').val(orderQty.toString());
            }
        })

        $(".btnIncrease").click(function () {
            let orderQty = Number($(this).prevAll('input').val())
            orderQty++
            $(this).prevAll('input').val(orderQty)
        })
    </script>
}