@model List<prjOniqueWebsite.Models.Dtos.ShoppingCartDto>
@{
    ViewData["Title"] = "查看購物車";
}

<div class="container">
    <div>
        <div class="status d-flex justify-content-center gap-5 mb-3 py-4 border-bottom border-secondary">
            <div class="active">
                <span class="step">1</span>
                <span>查看購物車</span>
            </div>
            <div>&gt;</div>
            <div>
                <span class="step">2</span>
                <span>訂單確認</span>
            </div>
            <div>&gt;</div>
            <div>
                <span class="step">3</span>
                <span>訂單結算</span>
            </div>
        </div>
    </div>
    @{
        if (Model.Count > 0)
        {
            <div class="border border-dark-subtle shadow rounded-3 p-2">
                <table class="table table-borderless table-striped align-middle text-center" data-aos="fade-up">
                    <thead class="table-dark">
                        <tr>
                            <th>商品圖片</th>
                            <th>商品名稱</th>
                            <th>顏色</th>
                            <th>尺寸</th>
                            <th>數量</th>
                            <th>小計</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                decimal subtotal = item.Product.Price * item.ShoppingCart.OrderQuantity;
                                <tr>
                                    <td>
                                        <input type="hidden" value="@item.Product.ProductId" id="inputProductId">
                                        <a href="@Url.Content("~/product/detail/")@item.Product.ProductId">
                                            <img src="@Url.Content("~/images/uploads/products/")@item.ProductStock.PhotoPath" alt="@item.Product.ProductName"
                                                 class="w-120-h-120 rounded-3 shadow-sm">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Content("~/product/detail/")@item.Product.ProductId" class="link-underline-light link-dark">
                                            @item.Product.ProductName
                                        </a>

                                    </td>
                                    <td>
                                        <div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                        </div>
                                    </td>
                                    <td class="mx-auto">
                                        <div class="d-flex justify-content-center">
                                            <div class="border border-dark-subtle text-center cursor-pointer btnReduce" style="width: 25px;">-</div>
                                            <input type="text" value="@item.ShoppingCart.OrderQuantity" disabled id="orderQty" class="width-50px text-center" />
                                            <div class="border border-dark-subtle text-center cursor-pointer btnIncrease" style="width: 25px;">+</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="price">
                                            @subtotal.ToString("0")
                                        </div>
                                    </td>

                                    <td>
                                        <a href="" class="d-flex justify-content-center">
                                            <div class="circle-size-25">
                                                <img src="@Url.Content("~/images/icon/delete.png")" />
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="container text-center m-4">
                <div class="py-4">
                    <span class="dollarSign">小計</span>
                    <span class="text-danger fw-bold fs-5">???</span>
                </div>
                <div class="mt-5">
                    <input type="button" value="繼續購物" class="btn btn-outline-dark" style="width: 150px;">
                    <input type="submit" value="結帳" class="btn btn-dark" style="width: 150px;">
                </div>
            </div>
        }
        else
        {
            <div class="container" id="emptyCart">
                <div class="w-150-h-150 mx-auto">
                    <img src="@Url.Content("~/images/icon/emptycart.png")" alt="">
                </div>
                <div class="text-center my-3 fw-bold">
                    <div>
                        購物車內尚未加入任何商品
                    </div>
                    <div class="btn btn-outline-dark my-3">
                        選購商品
                    </div>
                </div>
            </div>
        }
    }
</div>


@section Styles{
    <link href="~/css/shoppingcart.css" rel="stylesheet" />
    <style>
        #emptyCart {
            position: fixed;
            top: 50%;
            transform: translate(-50%,-59%);
            left: 50%;
        }
    </style>

}
@section Scripts{
    <script>

    </script>
}