@model List<prjOniqueWebsite.Models.Dtos.ShoppingCartDto>
@{
    ViewData["Title"] = "查看購物車";
}

<form class="container" id="shoppingCartContext">
    <div>
        <div class="status d-flex justify-content-center gap-5 mb-3 py-4 border-bottom border-secondary">
            <div class="active">
                <span class="step">1</span>
                <span>查看購物車</span>
            </div>
            <div>&gt;</div>
            <div>
                <span class="step">2</span>
                <span>訂單確認</span>
            </div>
            <div>&gt;</div>
            <div>
                <span class="step">3</span>
                <span>訂單結算</span>
            </div>
        </div>
    </div>
    @{
        if (Model.Count > 0)
        {
            <div class="border border-dark-subtle shadow rounded-3 p-2" data-aos="fade-up">
                <table class="table table-borderless table-striped align-middle text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>商品圖片</th>
                            <th>商品名稱</th>
                            <th>顏色</th>
                            <th>尺寸</th>
                            <th>數量</th>
                            <th style="width:153px">小計</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            decimal total = 0;
                            foreach (var item in Model)
                            {
                                decimal displayPrice = item.Product.Price;
                                if (item.DiscountMethod != null)
                                {
                                    displayPrice = Convert.ToDecimal(item.DiscountPrice);
                                }
                                decimal subtotal = displayPrice * item.ShoppingCart.OrderQuantity;
                                total += subtotal;
                                <tr>
                                    <td>
                                        <input type="hidden" value="@item.Product.ProductId" id="inputProductId">
                                        <a href="@Url.Content("~/product/detail/")@item.Product.ProductId">
                                            <img src="@Url.Content("~/images/uploads/products/")@item.PhotoPath" alt="@item.Product.ProductName"
                                                 class="w-120-h-120 rounded-3 shadow-sm">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Content("~/product/detail/")@item.Product.ProductId" class="link-underline-light link-dark">
                                            @item.Product.ProductName
                                        </a>

                                    </td>
                                    <td>
                                        <div>
                                            @item.ProductColors.ColorName
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            @item.ProductSizes.SizeName
                                        </div>
                                    </td>
                                    <td class="mx-auto">
                                        <div class="d-flex justify-content-center">
                                            <div class="border border-dark-subtle text-center cursor-pointer btnReduce" style="width: 25px;">-</div>
                                            <input type="hidden" name="stockId" value="@item.StockId" />
                                            <input type="text" value="@item.ShoppingCart.OrderQuantity" disabled id="orderQty" class="width-50px text-center" />
                                            <input type="hidden" name="shoppingCartId" value="@item.ShoppingCart.Id" />
                                            <div class="border border-dark-subtle text-center cursor-pointer btnIncrease" style="width: 25px;">+</div>
                                        </div>
                                    </td>
                                    <td class="position-relative">

                                        @{
                                            if (item.DiscountMethod != null)
                                            {
                                                <div class="price text-danger" >
                                                    @subtotal.ToString("0")

                                                </div>
                                                <div class="saleImg">
                                                    <img src="@Url.Content("~/images/icon/sale-tag.png")"/>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="price">
                                                    @subtotal.ToString("0")
                                                </div>
                                            }
                                        }
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center btnDelete">
                                            <input type="hidden" name="shoppingCartId" value="@item.ShoppingCart.Id" />
                                            <div class="circle-size-25">
                                                <img src="@Url.Content("~/images/icon/delete.png")" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="container text-center m-4">
                <div class="py-4 d-flex gap-3 justify-content-center align-items-center">
                    <div>合計金額 : </div>
                    <div class="price text-danger fw-bold fs-5">@total.ToString("0")</div>
                </div>
                <div class="mt-5">
                    <input type="button" value="繼續購物" class="btn btn-outline-dark btnBackToProductList" style="width: 150px;">
                    <a href="@Url.Content("~/ShoppingCart/OrderConfirmation")">
                        <div class="btn btn-dark" style="width: 150px;">結帳</div>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="container" id="emptyCart">
                <div class="w-150-h-150 mx-auto">
                    <img src="@Url.Content("~/images/icon/emptycart.png")" alt="">
                </div>
                <div class="text-center my-3 fw-bold">
                    <div>
                        購物車內尚未加入任何商品
                    </div>
                    <a href="@Url.Content("~/Home/Index")" class="btn btn-outline-dark my-3">
                        選購商品
                    </a>
                </div>
            </div>
        }
    }
</form>


@section Styles{
    <link href="~/css/shoppingcart.css" rel="stylesheet" />
    <style>
        #emptyCart {
            position: fixed;
            top: 50%;
            transform: translate(-50%,-59%);
            left: 50%;
        }

        .price::before {
            content: "$";
        }

        .btnDelete {
            cursor: pointer;
        }

        .saleImg {
            width: 30px;
            position: absolute;
            left: 0;
            height: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>

}
@section Scripts{
    <script>
        $(".btnDelete").click(function () {
            Swal.fire({
                text: "確定要刪除這個商品嗎?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#000000',
                cancelButtonColor: '#9D9D9D	',
                cancelButtonText: '保留商品',
                confirmButtonText: '刪除商品'
            }).then((result) => {
                if (result.isConfirmed) {
                    let shoppingCartId = Number($(this).find('input').eq(0).val())

                    DeleteCart(shoppingCartId)

                }
            })
        })

        async function DeleteCart(shoppingCartId) {
            const response = await fetch(`@Url.Content("~/ShoppingCartApi/DeleteCart?")shoppingCartId=${shoppingCartId}`)
            const result = await response.json();

            const { statusCode, statusMessage } = result;
            if (statusCode == 200) {
                Swal.fire({
                    title: statusMessage,
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500,
                })
                setTimeout(() => {
                    window.location.href = `@Url.Content("~/shoppingcart/index")?`
                }, 1500)
            }
            else {
                Swal.fire({
                    title: statusMessage,
                    icon: 'error',
                    showConfirmButton: false,
                    timer: 1500
                })
            }

        }

        $(".btnIncrease").click(async function () {
            let stockId = Number($(this).parent().find('input').eq(0).val());
            let originalQty = Number($(this).parent().find('input').eq(1).val());
            let shoppingCartId = Number($(this).parent().find('input').eq(2).val());

            let updateQty = originalQty + 1;

            UpdateOrderQty(stockId, originalQty, updateQty, shoppingCartId);
        })

        $(".btnReduce").click(async function () {
            let stockId = Number($(this).parent().find('input').eq(0).val());
            let originalQty = Number($(this).parent().find('input').eq(1).val());
            let shoppingCartId = Number($(this).parent().find('input').eq(2).val());

            let updateQty = originalQty - 1;

            UpdateOrderQty(stockId, originalQty, updateQty, shoppingCartId);
        })

        async function UpdateOrderQty(stockId, originalQty, updateQty, shoppingCartId) {


            const response = await fetch(`@Url.Content("~/ShoppingCartApi/UpdateOrderQty")?stockId=${stockId}&originalQty=${originalQty}&updateQty=${updateQty}&shoppingCartId=${shoppingCartId}`)
            const data = await response.json()

            const { statusCode, message } = data;

            if (statusCode == 200) {
                Swal.fire({
                    title: message,
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500,
                })

                setTimeout(() => {
                    window.location.href = `@Url.Content("~/shoppingcart/index")`
                }, 1500)

            }
            else {
                Swal.fire({
                    title: message,
                    icon: 'error',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        }

        $('.btnBackToProductList').on('click',function(event){
            event.preventDefault();
            window.location.href = `@Url.Content("~/Product/List")`;
        })

    </script>
}