@model prjOniqueWebsite.Models.DTOs.BgProductColorSizeSettingDto
@{

    ViewData["Title"] = "尺寸、顏色設定";
    Layout = "~/Views/Shared/_Layout_Background.cshtml";
}
<form class="container d-flex p-3 justify-content-center" method="post" enctype="multipart/form-data">
    <div class="col-2" style="margin-left: 8%;">
        <div class="text-center">
            <div class=" border p-3 rounded-4 ">
                <div class="p-2 my-1 bg-dark text-white rounded">
                    商品細部編輯
                </div>
                <div class="container">
                    <a class="btn btn-outline-dark border form-control my-2 fw-bold" href="@Url.Content("~/BgProductsManage/BgColorSizeSettingCreate/")@Model.ProductId">尺寸、顏色設定</a>
                    <a class="btn btn-outline-dark border form-control my-2 fw-bold" href="@Url.Content("~/BgProductsManage/BgColorSizeDetails/")@Model.ProductId" >庫存量設定</a>
                </div>
            </div>
            <div class=" border p-3 rounded-4 my-3">
                <div class="p-2 my-1 bg-dark text-white rounded">
                    細項新增
                </div>
                <div class="container">
                    <a class="btn btn-outline-dark border form-control my-2 fw-bold" asp-action="BgCreateSize">新增尺寸</a>
                    <a class="btn btn-outline-dark border form-control my-2 fw-bold" asp-action="BgCreateColor">新增顏色</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-6 border rounded-4 mx-4 justify-content-center shadow">
        <div class="container justify-content-center text-center">
            <div class="align-items-center fs-3 fw-bold border-bottom p-2">尺寸、顏色設定</div>
        </div>
        <div class="border mt-3 p-2 w-260-h-330 mx-auto rounded">
            <img src="@Url.Content("~/images/uploads/products/default.jpg")" id="productPhoto" />
        </div>
        <div class="width-265px mt-4 mx-auto">
            <input type="file" name="Photo" class="form-control" id="inputPhoto" />
        </div>        
        <div class="my-4" id="colorsizeTable">
            <div class="d-flex p-2 align-items-center text-center my-2" style="font-size: 18px; margin-left: 20%;">
                <input type="hidden" value="@Model.ProductId" id="productId" name="ProductId" />
                <div class="text-center fw-bold">商品名稱 :</div>
                <div class="mx-2">@Model.ProductName</div>
            </div>
            <div class="d-flex p-2 align-items-center my-2" style="font-size: 18px; margin-left: 20%;">
                <div class="fw-bold text-center">商品尺寸 :</div>
                <div class="mx-2" id="selectSize">
                    <input type="hidden" id="selectSize" />
                    <select class="form-select" name="SizeId" id="Size">
                        @{
                            foreach (var item in Model.ProductSizes)
                            {
                                <option value="@item.SizeId">@item.SizeName</option>
                            }
                        }
                        @*<option value=""></option>*@
                    </select>
                </div>
            </div>
            <div class="d-flex p-2 align-items-center my-2" style="font-size: 18px; margin-left: 20%;">
                <div class="fw-bold text-center">商品顏色 :</div>
                <div class="mx-2">
                    <input type="hidden" id="selectColor" />
                    <select class="form-select" name="ColorId" id="Color">
                        @{
                            foreach (var item in Model.ProductColors)
                            {
                                <option value="@item.ColorId">@item.ColorName</option>
                            }
                        }
                        @*<option value=""></option>*@
                    </select>
                </div>
            </div>           
            <div>@Html.ValidationMessageFor(model=>model.ProductId)</div>            
        </div>
        <div style="margin-bottom: 20px;">
            <div class="text-center ">
                @Html.ValidationSummary(true,"",new {@class="li-style-none text-danger"})
                <a class="btn btn-outline-dark fw-bold mx-4" asp-action="Index">取消</a>
                <input type="submit" class="btn btn-dark fw-bold" value="新增庫存資料">
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        const photo = document.querySelector("#inputPhoto");
        photo.addEventListener('change', function () {
            const files = photo.files
            if (files.length == 0) {
                const defaultPath = "@Url.Content("~/images/uploads/products/default.jpg")"
                $("#productPhoto").attr("src", defaultPath)
            }
            else {
                const url = URL.createObjectURL(files[0])
                $("#productPhoto").attr("src", url)
            }
        })
        //loadColor();
        //loadSize();
        //async function loadColor() {
        //    const response = await fetch(`@Url.Content("~/BgProductManageApi/LoadColor")`)
        //    const datas = await response.json();
        //    const selectColor = $("#selectColor").val()
        //    let ColorOption = ""
        //    console.log(datas)
        //    datas.map(item => {
        //        const { colorId, colorName } = item
        //        ColorOption += `<option value="${colorId}">${colorName}</option>`
        //    })
        //    $('#Color').append(ColorOption)
        //}
        //async function loadSize() {
        //    const response = await fetch(`@Url.Content("~/BgProductManageApi/LoadSize")`)
        //    const datas = await response.json();
        //    const selectSize = $("#selectSize").val()
        //    let SizeOption = ""
        //    console.log(datas)
        //    datas.map(item => {
        //        const { sizeId, sizeName } = item
        //        SizeOption += `<option value="${sizeId}">${sizeName}</option>`
        //    })
        //    $('#Size').append(SizeOption)
        //}

    </script>
}
@section Styles{
    <style>
        .li-style-none>ul>li{
            list-style-type:none;
        }
    </style>
}