@model prjOniqueWebsite.Models.Dtos.ProductDetailDto
@{
    ViewData["Title"] = "庫存量設定";
    Layout = "~/Views/Shared/_Layout_Background.cshtml";
}
   
<form class="container d-flex justify-content-center" method="post" enctype="multipart/form-data">
    <div class="col-2" style="margin-left: 8%;">
        <div class="text-center my-2">
            <div class=" border p-3 rounded-4 ">
                <div class="p-2 my-1 bg-dark text-white rounded">
                    商品細部編輯
                </div>
                <div class="container">
                    <a class="btn btn-outline-dark border form-control my-2 fw-bold" href="@Url.Content("~/BgProductsManage/BgColorSizeSettingCreate/")@Model.products.ProductId">尺寸、顏色設定</a>
                    <a class="btn btn-outline-dark border form-control my-2 fw-bold" asp-action="BgColorSizeDetails">庫存量設定</a>
                </div>
            </div>
            <div class=" border p-3 rounded-4 my-3">
                <div class="p-2 my-1 bg-dark text-white rounded">
                    細項新增
                </div>
                <div class="container">
                    <a class="btn btn-outline-dark border form-control my-2 fw-bold" asp-action="BgCreateSize">新增尺寸</a>
                    <a class="btn btn-outline-dark border form-control my-2 fw-bold" asp-action="BgCreateColor">新增顏色</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container border shadow rounded-4 mx-4 my-2">
        <div class="container text-center p-2">
            <div class="align-items-center fs-3 fw-bold border-bottom p-2">庫存量設定</div>
        </div>
        <div class="container d-flex my-2">
            <div class="p-4">
                <input type="hidden" value="@Model.products.ProductId" id="productId" name="ProductId" />
                <div class="d-flex p-2 align-items-center">
                    <div class="text-center fw-bold">商品名稱 :</div>
                    <div class="mx-2">@Model.products.ProductName</div>
                </div>                
                <div class="d-flex p-2 align-items-center my-2">
                    <div class="fw-bold text-center">商品顏色 :</div>
                    <div class="mx-2">
                        <select class="form-select" id="selectColor" name="ColorId">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="d-flex p-2 align-items-center my-2">
                    <div class="fw-bold text-center">商品尺寸 :</div>
                    <div class="mx-2">
                        <select class="form-select" id="selectSize" name="SizeId">
                        </select>
                    </div>
                </div>
                <div class="d-flex p-2 align-items-center mx-2">
                    <div class="text-center fw-bold">庫存數量:</div>
                    <div class="text-danger mx-4" id="stockQty"></div>
                </div>
                <div class="d-flex p-2 align-items-center  mx-3">
                    <div class="text-center fw-bold">庫存數 :</div>
                    <div>
                        <input type="number" class="form-control mx-2" name="Quantity" min="0" required>
                    </div>
                </div>                
                <div class="text-center p-4">
                    <div>
                        <div class="btn btn-outline-danger" id="btnDelete">刪除</div>
                        <a class="btn btn-outline-dark mx-4 fw-bold" asp-action="Index">取消</a>
                        <input type="submit" class="btn btn-dark fw-bold" value="修改庫存數">
                    </div>
                </div>
            </div>
            <div class="col-5 container p-3">
                <img src="@Url.Content("~/images/uploads/products/")@Model.products.PhotoPath" class="rounded img-thumbnail" id="productPhoto" />
                <input type="file" class="form-control my-4" name="Photo" id="inputPhoto">
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        const photo = document.querySelector("#inputPhoto");
        photo.addEventListener('change', function () {
            const files = photo.files
            if (files.length == 0) {
                const defaultPath = "@Url.Content("~/images/uploads/products/default.jpg")"
                $("#productPhoto").attr("src", defaultPath)
            }
            else {
                const url = URL.createObjectURL(files[0])
                $("#productPhoto").attr("src", url)
            }
        })

        const selectSize = document.querySelector("#selectSize")
        const selectColor = document.querySelector("#selectColor")
        const productId = $("#productId").val();

        loadColor();

        async function loadColor(){
            const response = await fetch(`@Url.Content("~/productapi/GetStockColor/")${productId}`)
            const datas = await response.json();

            const colors = datas.map(color=>{
                const{colorId,colorName} = color;
                return `<option value="${colorId}">${colorName}</option>`
            })
            selectColor.innerHTML = colors.join("")
            loadSize();
        }

        async function loadSize(){
            const colorId = $("#selectColor").val()
            const response = await fetch(`@Url.Content("~/productapi/GetStockSize?")id=${productId}&colorId=${colorId}`)
            const datas = await response.json();
            const sizes = datas.map(size=>{
                const {sizeId,sizeName} = size
                return `<option value="${sizeId}">${sizeName}</option>`
            })
            selectSize.innerHTML = sizes.join("")
            loadDetails()
           }
            selectColor.addEventListener('change',function(){
                loadSize()
            })
            selectSize.addEventListener('change',function(){
                loadDetails()
            })

        async function loadDetails() {
                const colorId = $("#selectColor").val()
                const sizeId = $("#selectSize").val()
                console.log(productId,colorId,sizeId,)
                const response = await fetch(`@Url.Content("~/ProductApi/GetStockDetail?")productId=${productId}&colorId=${colorId}&sizeId=${sizeId}`)
                const psd = await response.json()
                const {photoPath,stockId,quantity}=psd
                $("#productPhoto").attr("src",`@Url.Content("~/images/uploads/products/")${photoPath}`)
                $("#stockQty").text(`${quantity}`)
            $("#btnDelete").data("stockid", stockId);
            $("#btnDelete").data("productid", productId);
        }


        $("#btnDelete").on("click",async function(){
            let stockId = $(this).data("stockid");
            let produtcId = $(this).data("productid");

            const respo = await fetch(`@Url.Content("~/BgProductManageApi/DeleteStock/")${stockId}`)
            const data = await respo.json();

            if (data.statusCode == 200) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: data.statusMessage,
                    confirmButtonColor: '#3C3C3C',
                    confirmButtonText: '確認',
                    showConfirmButton: false,
                    timer: 1500
                })
                setTimeout(() => {
                    window.location.href = `@Url.Content("~/BgProductsManage/Edit/")${produtcId}`
                }, 1500)
            } else {
                Swal.fire({
                    icon: 'error',
                    text: data.statusMessage,
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })

    </script>
}