@model prjOniqueWebsite.Models.ViewModels.BgProductsVM

@{
    ViewData["Title"] = "新增商品";
    Layout = "~/Views/Shared/_Layout_Background.cshtml";
}
<form method="post" enctype="multipart/form-data">
    <div class="d-flex container">
        <div class="col-2 p" style="margin-left: 8%;">
            <div class="text-center my-2 p">
                <div class=" border p-3 rounded-4 my-3">
                    <div class="p-2 my-1 bg-dark text-white rounded">
                        細項新增
                    </div>
                    <div class="container">
                        <a class="btn btn-outline-dark border form-control my-2 fw-bold" asp-action="BgCreateSize">新增尺寸</a>
                        <a class="btn btn-outline-dark border form-control my-2 fw-bold" asp-action="BgCreateColor">新增顏色</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border shadow rounded-4 container justify-content-center my-2 mx-4">
            <div class="text-center p-2">
                <div class="align-items-center fs-3 fw-bold border-bottom p-2">新增商品資訊</div>
            </div>
            <div class="container d-flex">
                <div class="p-2 col-5">
                    <div class="d-flex align-items-center my-3">
                        <div class="width-120px">商品名稱:</div>
                        <input type="text" class="form-control" name="ProductName" id="inputName" />
                    </div>
                    <div class="text-end fw-bold"> @Html.ValidationMessageFor(model=>model.ProductName,"",new{@class="text-danger"})</div>
                    <div class="d-flex align-items-center my-3">
                        <div class="width-120px">商品價格:</div>
                        <input type="text" class="form-control" name="Price" id="inputPrice" />
                    </div>
                    <div class="text-end fw-bold">@Html.ValidationMessageFor(model=>model.Price,"",new{@class="text-danger"})</div>
                    <div class="d-flex align-items-center my-3">
                        <div class="width-120px">商品分類:</div>
                        <select class="form-control" id="selectCategory" name="ProductCategoryId">
                        </select>
                    </div>
                    <div class="d-flex align-items-center my-3">
                        <div class="width-120px">供應商:</div>
                        <select class="form-control" id="selectSupplier" name="SupplierId"></select>
                    </div>
                    <div class="d-flex align-items-center my-3">
                        <div class="width-120px">上架時間:</div>
                        <input class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" name="AddedTime" id="inputAddedTime" />

                    </div>
                    <div class="text-end fw-bold">@Html.ValidationMessageFor(model=>model.AddedTime,"",new{@class="text-danger"})</div>
                    <div class="d-flex align-items-center my-3">
                        <div class="width-120px">下架時間:</div>
                        <input class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" name="ShelfTime" id="inputShelfTime" />

                    </div>
                    <div class="text-end fw-bold">@Html.ValidationMessageFor(model=>model.ShelfTime,"",new{@class="text-danger"})</div>
                    <div class="d-flex my-3">
                        <div class="width-120px">商品描述:</div>
                        <textarea class="form-control" style="width: 100%; height: 160px;" id="inputDescription" name="Description"></textarea>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="col-5 container">
                    <div class="my-3 d-flex">
                        <img src="@Url.Content("~/images/uploads/products/default.jpg")" class="rounded img-thumbnail" id="imgProductPhoto" />
                    </div>
                    <input type="file" class="form-control" name="Photo" id="inputPhoto" />
                </div>
            </div>
            <div class="container text-center mb-4">
                <input type="button" class="btn btn-outline-secondary" value="DemoCreate" id="DemoCreate" />
                <a class="btn btn-outline-dark" asp-action="Index">取消</a>
                <input type="submit" value="確認新增" class="btn btn-dark" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const selectCategory = document.querySelector("#selectCategory")
        const selectSupplier = document.querySelector("#selectSupplier")
        loadcategory()
        async function loadcategory() {
            const response = await fetch(`@Url.Content("~/BgProductManageApi/ShowCategoryList")`)
            const datas = await response.json();
            console.log(datas)
            const category = datas.map(category => {
                const { categoryId, categoryName } = category;
                return `<option value="${categoryId}">${categoryName}</option>`
            })
            selectCategory.innerHTML = category.join("")
        }

        async function loadSupplier() {
            const response = await fetch(`@Url.Content("~/BgProductManageApi/ShowSupplierList")`)
            const datas = await response.json();
            console.log(datas)
            const supplier = datas.map(supplier => {
                const { supplierId, supplierName } = supplier;
                return `<option value="${supplierId}">${supplierName}</option>`
            })
            selectSupplier.innerHTML = supplier.join("")
        }
        loadSupplier()
        document.addEventListener('DOMContentLoaded', function () {
            const priceInput = document.querySelector("#Price");

            const photo = document.querySelector("#inputPhoto");
            photo.addEventListener('change', function () {
                const files = photo.files
                if (files.length == 0) {
                    const defaultPath = "@Url.Content("~/images/uploads/products/default.jpg")"
                    $("#imgProductPhoto").attr("src", defaultPath)
                }
                else {
                    const url = URL.createObjectURL(files[0])
                    $("#imgProductPhoto").attr("src", url)
                }
            })
            $('#DemoCreate').on('click', function () {
                let Name = "日系復古短袖襯衫"
                let Description = "復古設計、乾淨俐落;工裝風格、個性時尚"
                let AddedTime = "2023-08-14";
                let ShelfTime = "2023-08-31";
                $('#inputName').val(Name);
                $('#inputPrice').val("399");
                $('#inputAddedTime').val(AddedTime);
                $('#inputShelfTime').val(ShelfTime);
                $('#inputDescription').val(Description);
            })
        })
    </script>
}
@section Styles{
    <style>
        #imgProductPhoto {
            width: 90%;
            height: 90%;
            object-fit: cover;
            margin: auto;
        }
    </style>
}