@model prjOniqueWebsite.Models.EFModels.Products

@{
    ViewData["Title"] = "刪除商品";
    Layout = "~/Views/Shared/_Layout_Background.cshtml";
}
<div class="border shadow rounded-4 container justify-content-center my-2 mx-4 col-10">
    <div class="text-center p-2">
        <div class="align-items-center fs-3 fw-bold border-bottom p-2">刪除此商品</div>
    </div>
    <div class="container d-flex mx-4">
        <div class="p-2 col-5">
            <div class="d-flex align-items-center my-4">
                商品名稱: @Html.DisplayFor(model => model.ProductName)
            </div>
            <div class="d-flex align-items-center my-4">
                商品價格: @Html.DisplayFor(model => model.Price)
            </div>
            <div class="d-flex align-items-center my-4">
                商品分類: @Html.DisplayFor(model => model.ProductCategory.CategoryName)
            </div>
            <div class="d-flex align-items-center my-4">
                <div class="mx-3">供應商: @Html.DisplayFor(model => model.Supplier.SupplierName)</div>
            </div>
            <div class="d-flex align-items-center my-4">
                上架時間: @Html.DisplayFor(model => model.AddedTime)
            </div>
            <div class="d-flex align-items-center my-4">
                下架時間: @Html.DisplayFor(model => model.ShelfTime)
            </div>            
            <div class="d-flex my-4">
                <lable class="width-120px">商品描述:</lable>
                <textarea class="form-control" style="width: 100%; height: 160px;">@Html.DisplayFor(model => model.Description)</textarea>
            </div>
        </div>
        <div class="col-5 container">
            <div class="my-5 d-flex">
                @if (string.IsNullOrEmpty(Model.PhotoPath))
                {
                    <img src="~/images/uploads/products/default.jpg" class="rounded img-thumbnail" id="img" />
                }
                else
                {
                    <img asp-for="PhotoPath" src="~/images/uploads/products/@Model.PhotoPath" class="rounded img-thumbnail" id="img" />
                }
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-danger">
        @ViewBag.DeleteErrorMessage
    </div>
    <div>
        <form asp-action="Delete">
            <div class="container text-center mb-4">
                <a class="btn btn-outline-dark" asp-action="Index">取消刪除</a>
                <input type="submit" value="確認刪除" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>
@section Styles{
    <style>
        #img {
            width: 70%;
            height: 70%;
            object-fit: cover;
            margin: auto;
        }
    </style>
}